.wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.product {
    display: flex;
    column-gap: 20px;
    font-size: 1rem;
    img {
        width: 150px;
        height: 150px;
    }
    p {
        padding: 5px;
    }
}

.name {
    font-weight: 500;
}

.icons {
    padding-top: 30px;
    display: flex;
    column-gap: 10px;
    font-size: 1.5rem;
}
.icon {
    cursor: pointer;
}
.summary {
    h4 {
        font-size: 1.2rem;
        padding-bottom: 20px;
    }
}

.subtotal,
.shipping,
.total {
    display: flex;
    justify-content: space-between;
}

.subtotal,
.shipping {
    padding-bottom: 20px;
}

.total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
