.wrapper {
    padding-top: 70px;
}

// collections

.collections ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

// custom
.custom ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

// featured
.featured ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    p {
        color: white;
        width: 60%;
        font-weight: 500;
    }
}

// happening
.happening__img {
    position: relative;
}

.happening__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    text-align: center;
    .happening__count {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    button {
        margin-top: 20px;
        font-size: 1.1rem;
    }
}

// iconic,set

.iconic ul,
.set ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

// member
.member {
    h4 {
        color: #fff;
        font-size: 4rem;
        width: 70%;
    }
    p {
        color: #fff;
        font-size: 0.9rem;
    }
    h5 {
        position: absolute;
        font-size: 1rem;
        margin-left: 20px;
        bottom: 100px;
    }
    h6 {
        position: absolute;
        font-size: 1.4rem;
        margin-left: 20px;
        font-weight: 500;
        bottom: 60px;
    }
}

.member__list li {
    position: relative;
}
.member__list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}
